.productsCategories{
    width: 70%;
    height: 50vh;
    background-color: #fff;
    margin: 50px auto;
    display: flex;
    justify-content: start;
    align-items:center;
    flex-wrap: wrap;
}


.productsCategories h4 {
    text-align: center;
    font-size: larger;
    color: #111827;
    margin-bottom: 20px;
}
.category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.imageContainer:hover{
    box-shadow: 
    4px 4px 10px #e5e7eb,
    -4px -4px 10px #e5e7eb;
}
.imageContainer{
    transition: all 0.4s;
    display: flex;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    width: 250px;
    height: 250px;
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imageDiv {
    padding: 10px;
    width: 100px;
    height: 100px;
    
}