.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
}
.navListProfile{
  margin: 0 10px;

  font-size: large;

}
.navList {
  margin: 0 10px;

  font-size: large;
  transition: all 0.5s;
}
.link {
  color: #e2e8f0;
}
.navList:hover {
  text-shadow: 2px 2px 10px #e2e8f0;
}
.activeLink {
  color: #e2e8f0;
  text-shadow: 2px 2px 10px #e2e8f0, -2px -2px 10px #e2e8f0;
}
.profileIcon {
  font-size: 30px;
  color: #e2e8f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badgeCart {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #e11d48;
  border-radius: 8px;
  width: 25px;
  height: 25px;
  margin: 0 2px;
  color: #e2e8f0;
  border: 1px solid #e2e8f0;
}




.modalDiv{
  width: 300px;
  height: 400px;
  background-color: transparent;

}

@media only screen and (max-width: 480px) { 

  .navList{
    display: none;
    padding: 0;
    margin: 0;
  }
  .navBar {
   display:inline-flex;
   justify-content: end;
   flex-direction: row-reverse;
    width: 100%;
    position: relative;
  }
  .navListProfile{
    position: absolute;
    right: 120px;
  }
}