.container {
  width: 90%;

  height: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  background-color: #e5e7eb;
}
.imageProduct {
  display: flex;flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: 1px solid #fe9f9f;
  margin: 60px;
  padding: 20px;
  background-color: #fff;
}
.imageProduct img {
  width: 100%;

}
.descriptions{
  width: 90%;
 
}
.descDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.dis{
  width: 90%;

  display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(185, 185, 185);

}
h3 {
  font-size: 32px;
  font-family:fantasy;
  font-weight: 200;
}
.attr {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}
.desc {
    font-size: 18px;
    font-weight: 600;
}


.descriptionsProduct {
  width: 80%;
  height: auto;
  margin: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #343434; */
}
/* input[type="radio"] {
  appearance: none;
  background-color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
}
 input[type="radio"]::before{
  content: "\2713";
  display: flex;
  align-items:center;
  justify-content: center;
  width: 15px;
  height: 15px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background: white;
  border-radius: 50%;
} 
input[type="radio"]:checked::before{
transform: scale(1);
}  */
.checkStyle{

  width: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorsContainer{
display: inline;

}

.intro{
  width: 80%;
  margin: 0 auto;
}
.intro p {
  text-indent: inherit;
}