.error {
  margin: 0 auto;
  color: #881337;
  width: 95%;
  text-align: center;
  font-weight: 600;
  border-top: 2px solid #881337;
  transition: all 1s;
}
.formControl {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.label {
  margin: 0.6rem 0;
  font-size: 16px;
  color: #94a3b8;
}
.input {
  width: 100%;
  font-size: 16px;
  padding: 0.5rem 1.6rem;
  border: 0.7px solid #93c5fd;
  border-radius: 4px;
  background-color: #374151;
  color: #94a3b8;
  transition: all 1s;

}
.input:focus {
  outline: 0.7px solid #93c5fd;
  color: #94a3b8;
  border: none;
  background-color: #374151;
}

.inputError {
  /* border:2px solid #881337; */
  width: 100%;
  padding: 0.5rem 1.6rem;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: #374151;
}

/* @media screen and (max-width: 480px) {
    .input {
        width: 8rem;
        padding: 0.5rem 1.6rem;
        border: 1px solid #93c5fd;
        border-radius: 4px;
    }
    .label{
        margin: 0.4rem -0.5rem;
        font-size: 12px;
    }
}
@media screen and (min-width:481px ) {
    .input {
        width: 12rem;
        padding: 0.5rem 1.6rem;
        border: 1px solid #93c5fd;
        border-radius: 4px;
    }
    .label{
        margin: 0.6rem -0.9rem;
        font-size: 13px;
    }
} */
